{% extends "fiberdb/base.html" %}

{% block title %}{{ adaptorplate.box_id }} {{ adaptorplate.box_position }}{% endblock %}

{% block heading %}<h4>Adaptor Plate:</h4><h1>{{ adaptorplate.box_id }} {{ adaptorplate.box_position }}</h1>{% endblock %}

{% block content %}
<ul>
    <li>Building: <a href="/buildings/{{ adaptorplate.box_id.rack_id.lan_room_id.building_id.id }}/">{{ adaptorplate.box_id.rack_id.lan_room_id.building_id.short_name }}</a></li>
    <li>LAN Room: <a href="/lanrooms/{{ adaptorplate.box_id.rack_id.lan_room_id.id }}/">{{ adaptorplate.box_id.rack_id.lan_room_id.lan_room_name }}</a></li>
    <li>Rack: <a href="/racks/{{ adaptorplate.box_id.rack_id.id }}/">{{ adaptorplate.box_id.rack_id.rack_name }}</a></li>
    <li>Box: <a href="/boxes/{{ adaptorplate.box_id.id }}/">{{ adaptorplate.box_id.box_name }}</a></li>
    <li>Adaptor Plate Connectors in {{ adaptorplate.box_id }} {{ adaptorplate.box_position }}:</li>
    <ul>
        {% for adaptorplateconnector in adaptorplate.adaptorplateconnector_set.all %}
        <li><a href="/adaptorplateconnectors/{{ adaptorplateconnector.id }}/">{{ adaptorplateconnector.adaptor_plate_id }}{{ adaptorplateconnector.connector_type_id }}</a></li>
        {% endfor %}
    </ul>
    <li>Date Added: {{ adaptorplate.date_added }}</li>
</ul>
<a href="/adaptorplateconnectors/add">Add an Adaptor Plate Connector to this Adaptor Plate!</a>
{% endblock %}
