{% extends "fiberdb/base.html" %}

{% block title %}{{ adaptorplateconnector }}{% endblock %}

{% block heading %}{{ adaptorplateconnector }}{% endblock %}

{% block content %}
<ul>
    <li>Building: {{ adaptorplateconnector.adaptor_plate_id.box_id.rack_id.lan_room_id.building_id.short_name }}</li>
    <li>LAN Room: {{ adaptorplateconnector.adaptor_plate_id.box_id.rack_id.lan_room_id.lan_room_name }}</li>
    <li>Rack: {{ adaptorplateconnector.adaptor_plate_id.box_id.rack_id.rack_name }}</li>
    <li>Box: {{ adaptorplateconnector.adaptor_plate_id.box_id.box_name }}</li>
    <li>Adaptor Plate: {{ adaptorplateconnector.adaptor_plate_id }}</li>
    <li>Date Added: {{ adaptorplateconnector.date_added }}</li>
    <li>Connector Type in {{ adaptorplateconnector }}:</li>
    <ul>
        <li><a href="/connectortypes/{{ adaptorplateconnector.connector_type_id.id }}/">{{ adaptorplateconnector.connector_type_id.type }}</a></li>
    </ul>
    <li>Strand connected to  {{ adaptorplateconnector }}:
    <ul>
        {% for strand in adaptorplateconnector.end1_adaptor_plate_connector.all %}
        <li><a href="/strands/{{ strand.id }}/">{{ strand }}</a></li>
        {% endfor %}
        {% for strand in adaptorplateconnector.end2_adaptor_plate_connector.all %}
        <li><a href="/strands/{{ strand.id }}/">{{ strand }}</a></li>
        {% endfor %}
   </ul>
</ul>
<a href="/connectortypes/add">Add a Connector Type to this Adaptor Plate Connector!</a>
<br>
<a href="/strands/add">Add a Strand to this Adaptor Plate Connector!</a>
{% endblock %}
