<!DOCTYPE html>
<html>
<head>
    <!--<link rel="stylesheet" href="" />-->
    <title>{% block title %}Home{% endblock %} | Marist Networking - Fiber</title>
</head>

<body>
    <header><h1>Marist Networking - Fiber</h1></header>
    <nav>
        <ul>
            <li><a href="/buildings/">Buildings</a></li>
            <li><a href="/lanrooms/">LAN Rooms</a></li>
        </ul>
    </nav>
    <h2>{% block heading %}Fiber Infrastructure{% endblock %}</h2>
    {% block content %}
    <p>Welcome to the in-progress home of Marist Networking's Fiber Infrastructure database.</p>
    {% endblock %}
</body>
</html>
