<!DOCTYPE html>

{% load dajaxice_templatetags %}

<html>
<head>
    <!--<link rel="stylesheet" href="" />-->
    <title>{% block title %}Home{% endblock %} | Marist Networking - Fiber</title>

    {% dajaxice_js_import %}

</head>

<body>
    <header>Marist Networking - Fiber</header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/buildings/">Buildings</a></li>
            <li><a href="/lanrooms/">LAN Rooms</a></li>
            <li><a href="/racks/">Racks</a></li>
        </ul>
    </nav>
    <h1>{% block heading %}Fiber Infrastructure{% endblock %}</h1>
    {% block content %}
    <p>Welcome to the in-progress home of Marist Networking's Fiber Infrastructure database.</p>
    {% endblock %}
</body>

<footer>Built in 2013 by Michael Rudden for Marist College using Django</footer>

</html>
