{% extends "fiberdb/base.html" %}

{% block title %}{{ box.box_name }}{% endblock %}

{% block heading %}<h4>Box:</h4><h1>{{ box.box_name }}</h1>{% endblock %}

{% block content %}
<ul>
    <li>Building: {{ box.rack_id.lan_room_id.building_id.short_name }}</li>
    <li>LAN Room: {{ box.rack_id.lan_room_id.lan_room_name }}</li>
    <li>Adaptor Plates in {{ box.box_name }} (by position):</li>
    <ul>
        {% for adaptorplate in box.adaptorplate_set.all %}
        <li><a href="/adaptorplates/{{ adaptorplate.id }}/">{{ adaptorplate.box_position }}</a></li>
        {% endfor %}
    </ul>
    <li>Cables connected to  {{ box }}:
    <ul>
        {% for cable in box.end1_box.all %}
        <li><a href="/cables/{{ cable.id }}/">{{ cable }}</a></li>
        {% endfor %}
        {% for cable in box.end2_box.all %}
        <li><a href="/cables/{{ cable.id }}/">{{ cable }}</a></li>
        {% endfor %}
    </ul>
    <li>Date Added: {{ box.date_added }}</li>
</ul>
<a href="/adaptorplates/add">Add an Adaptor Plate to this Box!</a>
<br>
<a href="/cables/add">Add a Cable to this Box!</a>
{% endblock %}
