{% extends "fiberdb/base.html" %}

{% block title %}Boxes{% endblock %}

{% block heading %}{{ box.box_name }}{% endblock %}

{% block content %}
<ul>
    <li>Building: {{ box.rack_id.lan_room_id.building_id.short_name }}</li>
    <li>LAN Room: {{ box.rack_id.lan_room_id.lan_room_name }}</li>
    <li>Date Added: {{ box.date_added }}</li>
    <li>Adaptor Plates in {{ box.box_name }} (by position):</li>
    <ul>
        {% for adaptorplate in box.adaptorplate_set.all %}
        <li><a href="/adaptorplates/{{ adaptorplate.id }}/">{{ adaptorplate.box_position }}</a></li>
        {% endfor %}
    </ul>
</ul>
<a href="/racks/add">Add a Box!</a>
{% endblock %}
