{% extends "fiberdb/base.html" %}

{% block title %}{{ building.building_name }}{% endblock %}

{% block heading %}<h4>Building:</h4><h1>{{ building.building_name }}</h1>{% endblock %}

{% block content %}
<ul>
    <li>Short name: {{ building.short_name }}</li>
    <li>LAN Rooms in {{ building.building_name }}:</li>
    <ul>
        {% for lanroom in building.lanroom_set.all %}
        <li><a href="/lanrooms/{{ lanroom.id }}/">{{ lanroom.lan_room_name }}</a></li>
        {% endfor %}
    </ul>
    <li>Date Added: {{ building.date_added }}</li>
</ul>
<a href="/lanrooms/add">Add a LAN Room to this Building!</a>
{% endblock %}
