{% extends "fiberdb/base.html" %}

{% block title %}{{ building.building_name }}{% endblock %}

{% block heading %}{{ building.building_name }}{% endblock %}

{% block content %}
<ul>
    <li>Short name: {{ building.short_name }}</li>
    <li>Date Added: {{ building.date_added }}</li>
    <li>LAN Rooms in {{ building.building_name }}:</li>
    <ul>
        {% for lanroom in building.lanroom_set.all %}
        <li><a href="/lanrooms/{{ lanroom.id }}/">{{ lanroom.lan_room_name }}</a></li>
        {% endfor %}
    </ul>
</ul>
<a href="/buildings/add">Add a Building!</a>
{% endblock %}
