{% extends "fiberdb/base.html" %}

{% block title %}{{ cable }}{% endblock %}

{% block heading %}<h4>Cable:</h4><h1>{{ cable }}</h1>{% endblock %}

{% block content %}
<ul>
    <li>Fiber Type: {{ cable.fiber_type_id }}
    <li>End 1: <ul><li><a href="/boxes/{{ cable.end1_box_id.id }}">{{ cable.end1_box_id }}</a></ul></li></li>
    <li>End 2: <ul><li><a href="/boxes/{{ cable.end2_box_id.id }}">{{ cable.end2_box_id }}</a></ul></li></li>
    <li>Strands: {{ cable.strands }}</li>
    <li>Length: {{ cable.length }}</li>
    <li>Path:<ul><li>{% for path in cable.path_set.all %}<a href="/paths/{{ path.id }}/">{{ path }}</a>{% endfor %}</ul></li></li>
    <li>Date Added: {{ cable.date_added }}</li>
</ul>
<a href="/fibertypes/add">Add a Fiber Type to this Cable!</a>
{% endblock %}   
