{% extends "fiberdb/base.html" %}

{% block title %}{{ cable }}{% endblock %}

{% block heading %}{{ cable }}{% endblock %}

{% block content %}
<ul>
    <li>Fiber Type: {{ cable.fiber_type_id }}
    <li>End 1: <a href="/boxes/{{ cable.end1_box_id.id }}">{{ cable.end1_box_id }}</a></li>
    <li>End 2: <a href="/boxes/{{ cable.end2_box_id.id }}">{{ cable.end2_box_id }}</a></li>
    <li>Strands: {{ cable.strands }}</li>
    <li>Length: {{ cable.length }}</li>
    <li>Date Added: {{ cable.date_added }}</li>
    <li>Path: {% for path in cable.path_set.all %}<a href="/paths/{{ path.id }}/">{{ path }}</a>{% endfor %}</li>
</ul>
<a href="/racks/add">Add a Fiber Type to this Cable!</a>
{% endblock %}   
