{% extends "fiberdb/base.html" %}

{% block title %}{{ path }}{% endblock %}

{% block heading %}<h4>Path:</h4><h1>{{ path }}</h1>{% endblock %}

{% block content %}
<ul>
    <li>Cable: <a href="/cables/{{ path.cable_id.id }}">{{ path.cable_id }}</a></li>
    <li>End 1: <a href="/points/{{ path.endpoint1_id.id }}">{{ path.endpoint1_id }}</a></li>
    <li>End 2: <a href="/points/{{ path.endpoint2_id.id }}">{{ path.endpoint2_id }}</a></li>
    <li>Date Added: {{ path.date_added }}</li>
</ul>
<a href="/points/add">Add a Point to this Path!</a>

{% endblock %}
