{% extends "fiberdb/base.html" %}

{% block title %}{{ pointtype }}{% endblock %}

{% block heading %}{{ pointtype }}{% endblock %}

{% block content %}
<ul>
    <li>Building: {{ pointtype.path.cable_id.box_id.rack_id.lan_room_id.building_id.short_name }}</li>
    <li>LAN Room: {{ pointtype.path.cable_id.box_id.rack_id.lan_room_id.lan_room_name }}</li>
    <li>Rack: {{ pointtype.path.cable_id.box_id.rack_id.rack_name }}</li>
    <li>Box: {{ pointtype.path.cable_id.box_id.box_name }}</li>
    <li>Cable: {{ pointtype.path.cable_id }}</li>
    <li>Date Added: {{ pointtype.date_added }}</li>
    <li>Point Type in {{ point }}:</li>
    <ul>
        <li><a href="/paths/{{ path.point.pointtype_id.id }}/">{{ path.point.pointtype_id.type }}</a></li>
    </ul>
</ul>
<a href="/pointtypes/add">Add a Point Type to this Point!</a>

{% endblock %}
