{% extends "fiberdb/base.html" %}

{% block title %}{{ rack.rack_name }}{% endblock %}

{% block heading %}<h4>Rack:</h4><h1>{{ rack.rack_name }}</h1>{% endblock %}

{% block content %}
<ul>
    <li>Building: <a href="/buildings/{{ rack.lan_room_id.building_id.id }}/">{{ rack.lan_room_id.building_id.short_name }}</a></li>
    <li>LAN Room: <a href="/lanrooms/{{ rack.lan_room_id.id }}/">{{ rack.lan_room_id.lan_room_name }}</a></li> 
    <li>Boxes in {{ rack.rack_name }}:</li>
    <ul>
        {% for box in rack.box_set.all %}
        <li><a href="/boxes/{{ box.id }}/">{{ box.box_name }}</a></li>
        {% endfor %}
    </ul>
    <li>Date Added: {{ rack.date_added }}</li>
</ul>
<a href="/boxes/add">Add a Box to this Rack!</a>
{% endblock %}
