{% extends "fiberdb/base.html" %}

{% block title %}{{ rack.rack_name }}{% endblock %}

{% block heading %}{{ rack.rack_name }}{% endblock %}

{% block content %}
<ul>
    <li>Building: {{ rack.lan_room_id.building_id.short_name }}</li>
    <li>LAN Room: {{ rack.lan_room_id.lan_room_name }}</li>
    <li>Date Added: {{ rack.date_added }}</li>
    <li>Boxes in {{ rack.rack_name }}:</li>
    <ul>
        {% for box in rack.box_set.all %}
        <li><a href="/boxes/{{ box.id }}/">{{ box.box_name }}</a></li>
        {% endfor %}
    </ul>
</ul>
<a href="/racks/add">Add a Rack!</a>
{% endblock %}
