{% extends "fiberdb/base.html" %}

{% block title %}{{ strand }}{% endblock %}

{% block heading %}<h4>Strand:</h4><h1>{{ strand }}</h1>{% endblock %}

{% block content %}
<ul>
    <li>Cable:<ul><li><a href="/cables/{{ strand.cable_id.id }}">{{ strand.cable_id }}</a></li></ul></li>
    <li>End 1 plate connector: <ul><li><a href="/adaptorplateconnectors/{{ strand.end1_plate_connector_id.id }}">{{ strand.end1_plate_connector_id }}</a></ul></li></li>
    <li>End 2 plate connector: <ul><li><a href="/adaptorplateconnectors/{{ strand.end2_plate_connector_id.id }}">{{ strand.end2_plate_connector_id }}</a></ul></li></li>
    <li>In Use: {{ strand.in_use }}</li>
    <li>Description: {{ strand.desc }}</li>
    <li>Date Added: {{ strand.date_added }}</li>
</ul>

<a href="/strands/add">Add another Strand!</a>
{% endblock %}
